<%- include('partials/header') -%>

<div class="feedContainer">

  <% if (Array.isArray(user)) { %>
    <% user.forEach(function(user) { %>

      <a href="/profile/<%= user._id %>" class="userProfile"> 

        <h3><%= user.userName %></h3>
        <img src="<%= user.image %>" class="feedImg" alt="Profile Picture">
        <p><%= user.genre %></p>
      </a> 
      
    <% }); %>
  <% } %>

</div>

<%- include('partials/footer') -%>
