<%- include('partials/header') -%>

  <div class="feedContainer">

      <% if (Array.isArray(user)) { %>
        <% user.forEach(function(user) { %>

          <div class="userProfile">
            <h3><%= user.userName %></h3>
            <img src="<%= user.image %>" class="feedImg" alt="Profile Picture">
            <span><%= user.genre %></span>
          </div>

        <% }); %>
      <% } %>
    
  </div>

<%- include('partials/footer') -%>