<%- include('partials/header') -%>

  <div class="feedContainer">

    <ul class="feedGrid">
      <% for(var i=0; i<posts.length; i++) {%>
        <li class="feedLi">
          <a href="/post/<%= posts[i]._id%>">
          <!-- <a href="/post/<%= posts[i]._id%>">   -->
            <img class="img-fluid" src="<%= posts[i].image%>">
            <!-- <p class="img-fluid" src="<%= posts[i].image%>"> -->
          </a>
         </li>
      <% } %>
      </ul>

  </div>

<%- include('partials/footer') -%>