

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    
    <title><%= user.userName %></title>
  </head>
  <body>

      <div class="allProfileContainers">


          <div class="profileFirst">
              <h1 class="profileUserName"><%= user.userName %></h1>
          </div>


          <div class="hero">

            <div class="profileSecondLeft">
              <h2>Profile Picture</h2>
                <img class="mainImage" src="<%= user.image %>">
            </div>

            <div class="profileSecondRight">

              <div class="allProfilePieces">
                <div class="profileMembersGenre">
                
                  <div class="profilePieces profileMembers">
                    <h2>Members:</h2>
  
                    <ul>
                      <% user.members.forEach(function(member) { %>
                        <li><%= member %></li>
                      <% }); %>
                    </ul>
                  </div>


                  <div class="profilePieces profileGenreAndYear">
                    <div class="profilePieces profileYearFormed">
                      <h2>Est: <%= user.yearFormed %></h2>
                    </div>
                    <div class="profilePieces profileGenre">
                      <h4><%= user.genre %></h4>
                    </div>
                  </div>

                </div>

                <div class="profilePieces profileBio">
                  <h2>Bio:</h2>
                  <p><%= user.description %></p>
                </div>


                <!-- BUTTON LINKS ON /profile -->
                <div class="buttonLinks">

                  <!-- website -->
                  <div class="btn btn-primary profileWebsiteButton" <% if (!user.website) { %>style="display:none"<% } %>>
                    <% if (user.website) { %>
                      <a href="<%=user.website%>" target="_blank"> Website</a>
                    <% } %>
                  </div>

                  <!-- tiktok -->
                  <div class="btn btn-primary profileTiktokButton" <% if (!user.tiktok) { %>style="display:none"<% } %>>
                    <% if (user.tiktok) { %>
                      <a href="<%=user.tiktok%>" target="_blank">Tiktok</a>
                    <% } %>
                  </div>                

                  <!-- instagram -->
                  <div class="btn btn-primary profileInstagramButton" <% if (!user.instagram) { %>style="display:none"<% } %>>
                    <% if (user.instagram) { %>
                      <a href="<%=user.instagram%>" target="_blank">Instagram</a>
                    <% } %>
                  </div>

                  <!-- facebook -->
                  <div class="btn btn-primary profileFacebookButton" <% if (!user.facebook) { %>style="display:none"<% } %>>
                    <% if (user.facebook) { %>
                      <a href="<%=user.facebook%>" target="_blank">Facebook</a>
                    <% } %>
                  </div>

                  <!-- spotify -->
                  <div class="btn btn-primary profileSpotifyButton" <% if (!user.spotify) { %>style="display:none"<% } %>>
                    <% if (user.spotify) { %>
                      <a href="<%=user.spotify%>" target="_blank">Spotify</a>
                    <% } %>
                  </div>                

                  <!-- soundcloud -->
                  <div class="btn btn-primary profileSoundcloudButton" <% if (!user.soundcloud) { %>style="display:none"<% } %>>
                    <% if (user.soundcloud) { %>
                      <a href="<%=user.soundcloud%>" target="_blank">Soundcloud</a>
                    <% } %>
                  </div>                

                  <!-- apple music -->
                  <div class="btn btn-primary profileAppleMusicButton" <% if (!user.appleMusic) { %>style="display:none"<% } %>>
                    <% if (user.appleMusic) { %>
                      <a href="<%=user.appleMusic%>" target="_blank">Apple</a>
                    <% } %>
                  </div>

                  <!-- youtube -->
                  <div class="btn btn-primary profileYoutubeButton" <% if (!user.youtube) { %>style="display:none"<% } %>>
                    <% if (user.youtube) { %>
                      <a href="<%=user.youtube%>" target="_blank">YouTube</a>
                    <% } %>
                  </div>                
                </div>
                
              </div>
            </div>
         </div>
      </div>
  
  </body>
</html>





  <%- include('partials/footer') -%>



<!-- <div class="col-6">

    <div class="profileBanner">
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>

        <a href="/logout" class="profileLogout">Logout</a>

    </div> -->


    <!-- 
      /*************************************************************************************************/
      /*
      **       .profileUserName
      */
      /*************************************************************************************************/
    -->
    

    <!-- 
      /*************************************************************************************************/
      /*
      **       .profileMainImage
      */
      /*************************************************************************************************/
    -->



        <!-- 
      /*************************************************************************************************/
      /*
      **       
      */
      /*************************************************************************************************/
    -->

        
    <!-- <div class="profilePostBoxContainer">

      <div class="profilePostBox">

        <h2>Add a post</h2>
            
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">

          <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
          </div>

          <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption"></textarea>
          </div>

          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="img-upload" id="imageUpload" name="file">
          </div>

          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>

          <a class="returnToFeedButton" href="/feed">Return to Feed</a>
        </form>
      </div>



    </div>
  </div>



  </div>   -->