<%- include('partials/header') -%>

<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
  </head>
  <body>


    <div class="profileContainer">

      <div class="allProfileContainers">


          <div class="profileFirst">
              <h1 class="profileUserName"><%= user.userName %></h1>
          </div>


          <div class="hero">

            <div class="profileSecondLeft">
                <img class="mainImage" src="<%= user.image %>">
            </div>

            <div class="profileSecondRight">


                <div class="profilePieces profileBio">
                  <h2>Bio:</h2>
                  <p><%= user.description %></p>
                </div>

                <div class="profilePieces profileGenre">
                  <h2>Genre:</h2>
                  <p><%= user.genre %></p>
                </div>
                
                <div class="profilePieces profileYearFormed">
                  <h2>Year Formed:</h2>
                  <p><%= user.yearFormed %></p>
                </div>

                <div class="profilePieces profileMembers">
                  <h2>Members:</h2>

                  <ul>
                    <% user.members.forEach(function(member) { %>
                      <li><%= member %></li>
                    <% }); %>
                  </ul>
                </div>

                <div class="profilePieces profileWebsite">
                  <% if (user.website) { %>
                    <h2>Website:</h2>
                    <p><%= user.website %></p>
                  <% } %>
                </div>
            </div>
         </div>
        





      </div>
    </div>
  
  </body>
</html>




<div class="col-6">

    <div class="profileBanner">
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>

        <a href="/logout" class="profileLogout">Logout</a>

    </div>


    <!-- 
      /*************************************************************************************************/
      /*
      **       .profileUserName
      */
      /*************************************************************************************************/
    -->
    

    <!-- 
      /*************************************************************************************************/
      /*
      **       .profileMainImage
      */
      /*************************************************************************************************/
    -->



        <!-- 
      /*************************************************************************************************/
      /*
      **       
      */
      /*************************************************************************************************/
    -->

        
    <div class="profilePostBoxContainer">

      <div class="profilePostBox">

        <h2>Add a post</h2>
            
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">

          <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
          </div>

          <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption"></textarea>
          </div>

          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="img-upload" id="imageUpload" name="file">
          </div>

          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>

          <a class="returnToFeedButton" href="/feed">Return to Feed</a>
        </form>
      </div>



    </div>
  </div>

      
  <div class="profilePosts">

    <ul class="profilePostList">
    <% for(var i=0; i<posts.length; i++) {%>
      <li class="profilePost">
        <a href="/post/<%= posts[i]._id%>">
          <img class="img-fluid" src="<%= posts[i].image%>">
        </a>
      </li>
    <% } %>
    </ul>

  </div>  


  <%- include('partials/footer') -%>