<%- include('partials/header') -%>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    
    <title><%= user.userName %></title>
  </head>
  <body>

      <div class="allProfileContainers">


        <div class="profileFirst">
          <h1 class="profileUserName"><%= user.userName %></h1>
        </div>

          <div class="hero">

            <div class="profileSecondLeft">
              <h2>Profile Picture</h2>
                <img class="mainImage" src="<%= user.image %>">
            </div>

            <div class="profileSecondRight">

              <div class="allProfilePieces">


                <div class="profilePieces profileGenreAndYearAndMembers">

                  <div class="profilePieces profileMembers"  <% if (!user.members) { %>style="display:none"<% } %>>
                    <h2>Members:</h2>
                    
                    <ul>
                      <% if (user.members) { %>
                        <% user.members.forEach(function(member) { %>
                          <li><%= member %></li>
                        <% }); %>
                      <% } %>
                    </ul>
                  </div>
                  
                  <div class="profileGenreAndYear">

                    <div class="profilePieces profileYearFormed"  <% if (!user.yearFormed) { %>style="display:none"<% } %>>
                      <h2>Est: <%= user.yearFormed %></h2>
                    </div>

                    <div class="profilePieces profileGenre"  <% if (!user.genre) { %>style="display:none"<% } %>>
                      <h4><%= user.genre %></h4>
                    </div>

                    <div class="profilePieces profileUpdateUser">
                       <a href="/updateUser"><h2>Update</h2></a>
                    </div>

                  </div>      
                </div>

                <div class="profilePieces profileBio"  <% if (!user.description) { %>style="display:none"<% } %>>
                  <h2>Bio:</h2>
                  <p><%= user.description %></p>
                </div>

                <!-- BUTTON LINKS ON /profile -->
                <div class="buttonLinks">
                  
                  <!-- website -->
                  <a href="<%=user.website%>" target="_blank">
                    <div id="btn" class="btn btn-primary profileWebsiteButton" <% if (!user.website) { %>style="display:none"<% } %>>
                      <% if (user.website) { %>
                        Website
                      <% } %>
                    </div>
                  </a>
                  <!-- tiktok -->
                  <a href="<%=user.tiktok%>" target="_blank">
                    <div id="btn" class="btn btn-primary profileTiktokButton" <% if (!user.tiktok) { %>style="display:none"<% } %>>
                      <% if (user.tiktok) { %>
                        Tiktok
                      <% } %>
                    </div>
                  </a>
                  <!-- instagram -->
                  <a href="<%=user.instagram%>" target="_blank">
                    <div id="btn" class="btn btn-primary profileInstagramButton" <% if (!user.instagram) { %>style="display:none"<% } %>>
                      <% if (user.instagram) { %>
                        Instagram
                      <% } %>
                    </div>
                  </a>
                  <!-- facebook -->
                  <a href="<%=user.facebook%>" target="_blank">
                    <div id="btn" class="btn btn-primary profileFacebookButton" <% if (!user.facebook) { %>style="display:none"<% } %>>
                      <% if (user.facebook) { %>
                        Facebook
                      <% } %>
                    </div>
                  </a>
                  <!-- spotify -->
                  <a href="<%=user.spotify%>" target="_blank">
                    <div id="btn" class="btn btn-primary profileSpotifyButton" <% if (!user.spotify) { %>style="display:none"<% } %>>
                      <% if (user.spotify) { %>
                        Spotify
                      <% } %>
                    </div>
                  </a>
                  <!-- soundcloud -->
                  <a href="<%=user.soundcloud%>" target="_blank">
                    <div id="btn" class="btn btn-primary profileSoundcloudButton" <% if (!user.soundcloud) { %>style="display:none"<% } %>>
                      <% if (user.soundcloud) { %>
                        Soundcloud
                      <% } %>
                    </div>
                  </a>
                  <!-- apple music -->
                  <a href="<%=user.appleMusic%>" target="_blank">
                    <div id="btn" class="btn btn-primary profileAppleMusicButton" <% if (!user.appleMusic) { %>style="display:none"<% } %>>
                      <% if (user.appleMusic) { %>
                        Apple
                      <% } %>
                    </div>
                  </a>
                  <!-- youtube -->
                  <a href="<%=user.youtube%>" target="_blank">
                    <div id="btn" class="btn btn-primary profileYoutubeButton" <% if (!user.youtube) { %>style="display:none"<% } %>>
                      <% if (user.youtube) { %>
                        YouTube
                      <% } %>
                    </div>
                  </a>            
                  
                </div>
 
              </div>
            </div>
         </div>
      </div>


  </body>
</html>





  <%- include('partials/footer') -%>



<!-- <div class="col-6">

    <div class="profileBanner">
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>

        <a href="/logout" class="profileLogout">Logout</a>

    </div> -->


    <!-- 
      /*************************************************************************************************/
      /*
      **       .profileUserName
      */
      /*************************************************************************************************/
    -->
    

    <!-- 
      /*************************************************************************************************/
      /*
      **       .profileMainImage
      */
      /*************************************************************************************************/
    -->



        <!-- 
      /*************************************************************************************************/
      /*
      **       
      */
      /*************************************************************************************************/
    -->

        
    <!-- <div class="profilePostBoxContainer">

      <div class="profilePostBox">

        <h2>Add a post</h2>
            
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">

          <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
          </div>

          <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption"></textarea>
          </div>

          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="img-upload" id="imageUpload" name="file">
          </div>

          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>

          <a class="returnToFeedButton" href="/feed">Return to Feed</a>
        </form>
      </div>



    </div>
  </div>



  </div>   -->